[submodule "docs"]
	path = docs
	url = https://github.com/MonicaBaldner/ems-algashop-docs.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/MonicaBaldner/ems-algashop-ordering.git
